# Ignore the database files
db_data/

# Ignore WP Core, but allow specific folders AND their contents
wp-content/*
!wp-content/.gitkeep
!wp-content/themes/
!wp-content/themes/*
!wp-content/plugins/
!wp-content/plugins/*
!wp-content/mu-plugins/
!wp-content/mu-plugins/*